@import "./config/variables";


html {
	font-size: 16px;
	background-color: $bg-light;
	background-color: #036f9a; // compensate for blurred edges
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	// overflow: auto;
}

// Reset margins
h1,h2,h3,h4,h5,h6,p {
	margin-top: 0;
	margin-bottom: 0;
}

#root {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: $zidx-low;
	background-color: rgba(81,81,81,0.4);
}

#outer-space {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: $zidx-top;
}

.page-root {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items:     stretch;
	z-index: $zidx-low + 100;
	position: relative;
}

.behind-root {
	background: url('./static/fortnite-map-c2-blur.jpg');
	background-size: cover;
	background-position: 50% 50%;
	filter: blur(16px);
	position: fixed;
	top: -5%;
	left: -5%;
	width: 110%;
	height: 110%;
	z-index: $zidx-floor;
}
.ch1 {
	.behind-root {
		background: url('./static/fortnite-map-s7.jpg');
		background-size: cover;
		background-position: 50% 50%;
	}
}

main {
	height: 100%;
	width: 100%;
	min-height: 100vh;
	min-width: 100vw;
	// max-height: 100vh;
	// max-width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}




.headline {
	font-size: 2.5rem;
	font-weight: 500;
	color: $fg-primary;
}
.subheadline {
	font-size: 1.5rem;
	font-weight: 400;
	color: $fg-secondary;
}
.eyebrow {
	font-size: .9rem;
	font-weight: 700;
	color: $fg-secondary;
	text-transform: uppercase;
	letter-spacing: 0px;
}


ol {
	padding-left: 2rem;
	
	@media all and (max-width: $break-s){
		padding-left: 1.25rem;
	}
	
	li {
		line-height: 1.5;
		margin: 0.75em auto;
	}
}

.form {
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	.form-section {
	}
	.form-group {
		padding: .5rem 0;
		// margin: .5rem 0;
		margin: 0;
		margin-bottom: 1rem;
		position: relative;
		// display: flex;
		// flex-direction: row;
		// justify-content: space-between;
	}
	.input-group {
		// flex: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		font-size: 1rem;
	}
	label {
		margin-right: .5rem;
	}
	input {
		font-size: 1.2rem;
		border: 2px solid $fg-divider;
		border-radius: .25rem;

		&:focus {
		outline: none;
		border-color: $blue;
		}
	}
	// .color-input {
	// 	font-size: 1.2rem;
	// 	width: 6em;
	// 	padding: .25rem;
	// }
	.form-sec-title {
		line-height: 1.5;
		font-size: 1.3rem;
		font-weight: 500;
	}

	// .color-form-group {
	// 	display: flex;
	// 	flex-direction: column;
	// 	align-items: center;
	// }
	.color-input-group {
		margin: .5rem 0;
		label {
			flex-basis: 3em;
		}
		input {
			font-size: 1.2rem;
			max-width: 5em;
			padding: .25em;
		}
	}

	[type="checkbox"] {
		// margin: 0;
		cursor: pointer;
		& + label {
			cursor: pointer;
		}
	}
}
.btn {
	border: 2px solid transparent;
	background-color: $bg-light;
	padding: 0 1em;
	line-height: 2em;
	outline: none;
	border-radius: .25rem;
	font-size: inherit;
	margin-left: .5rem;
	cursor: pointer;

	&:first-child{
		margin-left: 0;
	}
	&:focus {
		outline: none;
		border-color: $blue;
	}
	&:hover {
		border-color: $fg-divider;
	}

	&.btn-naked {
		// border-color: $fg-secondary;
		background-color: transparent;
		color: $fg-secondary;
		&:hover {
			text-decoration: underline;
			border-color: transparent;
		}
		&:focus {
			border-color: $fg-divider;
			// color: $fg-secondary;
		}
	}

	&.save-btn {
		background-color: $green;
		color: #fff;
		&:focus,&:hover {
			border-color: $green-d;
		}
	}
}