@import "../../config/variables";

.stats-panel {
	position: fixed;
	top: 1rem;
	left: 1rem;
	color: #fff;
	z-index: $zidx-top;
	background-color: rgba(0,0,0,0.8);
	opacity: 0.5;
	padding: 0 .5rem;
	border-radius: 0;
	font-size: .8rem;
	font-weight: 400;

	&:hover {
		opacity: 1;
	}
	ul {
		padding: 0;
		margin: 1rem .5rem;
		list-style-type: none;
	}
	li {
		margin: 5px auto;
		line-height: 1.2;
	}
}