@import "../../config/variables";

.mask-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: $z-index-mid + 10;

	svg {
		pointer-events: none;
		z-index: 0;
	}
	.out-of-bounds {
		fill: #fff;
	}
	
	.target-area {
		fill: black;
		pointer-events: all;
		cursor: pointer;
		z-index: $z-index-top+100;
		&:hover {
			stroke: #fff;
			stroke-width: 5;
		}
	}
}

