@import "../../config/variables";

// body {
// 	height: 100%;
// 	width: 100%;
// 	min-height: 100vh;
// }
#map-container {
	position: relative;
	font-size: 1rem;
	
	* {
		font-size: inherit;
	}

	// @media all and (min-width: 1000px and min-height: 1000px){
	// 	font-size: 1.2rem;
	// }
}
.map {
	height: initial;
	width: initial;
	max-height: 100vh;
	max-width: 100vw;
	z-index: $zidx-low;
}

