@import "../../config/variables";

// body {
// 	height: 100%;
// 	width: 100%;
// 	min-height: 100vh;
// }
#map-container {
	position: relative;
	font-size: 1rem;
	
	.hero-section {
		// outline: 1px solid red;
		color: $fg-light-primary;
		position: absolute;
		top: 0;	
		// left: 0;
		left: 50%;
		transform: translate(-50%,0%);
		// right: 0;
		font-size: 1rem;
		padding: 1rem;
		line-height: 1;
		width: initial;
		
		.headline {
			// outline: 1px solid blue;
			font-size: 1.2em;
			line-height: 1.4em;
			// font-style: italic;
			font-weight: 600;
			// width: 7em;
			// width: 13em; // 'hypothetically' on same line
			text-transform: lowercase;
			text-transform: uppercase;
			// min-width: 20em;


			em {
				display: inline-block;
				color: $fg-light-disabled;
				color: $fg-light-secondary;
				// font-size: .9em;
				font-weight: 400;
				font-style: italic;
				// text-transform: uppercase;
				text-transform: lowercase;
				// margin-left: 0.3em;
				margin: 0 .2em;
			}
		}
		
		
		@media all and (max-width: $break-l){
			font-size: 1.1rem;
			right: 0;
			transform: unset;
		}
		@media all and (max-width: $break-m){
			font-size: 1rem;
			transform: translate(0%,-100%);
			left: 0;
			text-align: center;
		}
		@media all and (max-width: $break-s){
			// transform: translate(0%,-100%);
			// left: 0;
		}

	}
	
}
.map {
	height: initial;
	width: initial;
	max-height: 100vh;
	max-width: 100vw;
	z-index: $zidx-low;
}

.poi-label-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.poi-label {
	position: absolute;
	color: #fff;
	display: inline-block;
	font-size: .8rem;
	text-transform: uppercase;
	background-color: #000;
	letter-spacing: -0.05em;
	font-weight: 800;
}