@import "../../config/variables";

.interface {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $zidx-mid;
	overflow: hidden;
}

.marker {
	$duration: 2s;
	$dot-color: #07f;
	$pulse-color: #000;
	$spread: 12px;
	$height: 1.2rem;
	$marker-color: #fff;
	$marker-color-alt: #89C4F4;
	
	// $bg-a: rgba(#000,0.85);
	// $bg-b: rgba(#000,0.25);
	// $shadow-a: 0 0 0px 0px $bg-a;
	// $shadow-b: 0 0 0px 12px $bg-b;
	// $shadow-c: 0 0 0px 12px transparent;
	// $shadow-d: 0 0 0px 0px transparent;
	// font-size: $height;
	// height: 1em;
	// width: 1em;
	// margin-left: -0.5em; // Using margin to offset rather than transform since dimensions are known and better compatibility
	// margin-top: -0.5em;
	// border: 0.2em solid #fff;
	// background-color: $dot-color;
	// display: inline-block;
	// position: absolute;
	// border-radius: 50%;		
	// cursor: pointer;
	// z-index: $zidx-mid+50;
	// animation: shadow-pulse $duration cubic-bezier(0.17, 0.67, 0.37, 0.94) infinite;
	// @keyframes shadow-pulse {
	// 	0%    { box-shadow: $shadow-a; }
	// 	80%   { box-shadow: $shadow-c; }
	// 	99%   { box-shadow: $shadow-d; }
	// 	100%  { box-shadow: $shadow-a; }
	// }

	$pulse-a: rgba($pulse-color, 0.8);
	$pulse-b: rgba($pulse-color, 0);
	$dot-color: #07f;

	position: absolute;
	font-size: $height;
	height: 1em;
	width: 1em;
	margin-left: -0.5em;
	margin-top: -0.5em;
	border: 0.2em solid #fff;
	background-color: $dot-color;
	display: inline-block;
	border-radius: 50%;
	cursor: pointer;
	z-index: $zidx-mid + 50;
	display: block;
	box-shadow: 0 0 0 $pulse-a;
	animation: marker-pulse $duration infinite;

	@-webkit-keyframes marker-pulse {
		0%   { -webkit-box-shadow: 0 0 0 0       $pulse-a; }
		70%  { -webkit-box-shadow: 0 0 0 $spread $pulse-b; }
		100% { -webkit-box-shadow: 0 0 0 0       $pulse-b; }
	}
	@keyframes marker-pulse {
		0%   { -moz-box-shadow: 0 0 0 0       $pulse-a;
			          box-shadow: 0 0 0 0       $pulse-a; }
		70%  { -moz-box-shadow: 0 0 0 $spread $pulse-b;
			          box-shadow: 0 0 0 $spread $pulse-b; }
		100% { -moz-box-shadow: 0 0 0 0       $pulse-b;
			          box-shadow: 0 0 0 0       $pulse-b; }
	}

}

.tooltip {
	font-size: .75rem;
	position: absolute;
	transform: translate(-50%,-140%);
	margin-left: 5px; // offset to center tooltip over marker
	padding: .5em;
	width: 7em;
	border-radius: .5em;
	display: inline-block;
	text-align: center;
	font-weight: 600;
	background-color: #fff;
	box-shadow: 0 0 8px 5px rgba(#242424,0.24);
}

