@import '../../config//variables';

.guide {
	font-size: 1.1rem;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: $zidx-top;
	background-color: #fff;
	// padding: 2em 3em;
	margin: 0;
	width: 90vw;
	max-width: 900px;

	border-radius: .5em;
	
}